*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  /* background-color: #333; */
}
a{
  text-decoration: none;
  color: aliceblue;
}
.header{
  height: 15vh;
  width: 100vw;
  background-color: #181733;
  display: flex;
}
.header__figura{
  width: 20%;
  height: 100%; /*el 100% de la altura de su contenedor padre (header)*/
}
.nav{
  width: 80%;
  height: 100%;
}
.nav__lista{
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}
.lista_tema{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 3rem;
}

.main{
  height: 70vh;
  /* background-color: lightcoral; */
  display: flex;
  top: 35vh;
}
.contenedor-fotos{
  background-color: rgb(240, 215, 250);
  width: 10vw;
}
.contenido{
  width: 90vw;
  background-color: #6f2b59;
  font-size: 4rem;

}

.footer{
  height: 15vh;
  background-color:#181733;
}


.imagen{
  /* margin: 0.7rem; */
  height: 12rem;
}